<header class="w-screen relative flex flex-col items-center justify-center">
  <section
    class="w-10/12 md:w-1/2 lg:w-1/2 flex flex-col gap-5 items-center justify-center p-20 border-b-2 border-violet-300"
  >
    <img
      src="assets/img/flores-superior-direito.png"
      alt="Flores superior direito"
      class="absolute top-0 right-0 w-32 md:w-52 lg:w-72"
    />
    <img
      src="assets/img/flores-superior-direito.png"
      alt="Flores superior direito"
      class="absolute top-0 left-0 w-32 md:w-52 lg:w-72 scale-x-[-1]"
    />
    <h1 class="font-bold text-xl uppercase text-center text-violet-400">
      Chabar Vitoria & Gustavo
    </h1>

    <img
      src="assets/img/profile.jpg"
      alt="profile"
      class="rounded-xl w-70 md:w-52 lg:w-72 shadow-lg ring-2 ring-offset-violet-500"
    />
  </section>
</header>

<main class="w-screen flex flex-col items-center justify-center">
  <section class="w-screen md:w-1/2 lg:w-1/2 border-b-2 p-20">
    <h2 class="text-2xl font-bold text-violet-500">O que é Chabar?</h2>
    <p class="text-lg text-violet-400 mt-3">
      Chá Bar é a versão moderna e animada do tradicional Chá de Panela, onde
      amigos e familiares se reúnem para celebrar o casal em grande estilo! Uma
      festa cheia de diversão, descontração e muita alegria, onde todos podem
      participar, trazendo presentes e brindando juntos esse momento especial.
      Perfeito para quem quer unir diversão e preparativos para o grande dia!
    </p>
  </section>

  <section class="w-screen md:w-1/2 lg:w-1/2 border-b-2 p-20">
    <h2 class="text-2xl font-bold text-violet-500">Presentes</h2>
    <p class="text-lg text-violet-400 mt-3">
      Quer nos ajudar a montar nosso cantinho? Fizemos uma lista de presentes
      para facilitar sua escolha. Tudo será recebido com muito carinho. Confira
      a lista abaixo e escolha o que mais combina com você!
    </p>
    <p class="text-lg text-violet-400 mt-3">
      <b>Obs:</b> Para evitar que presentes sejam repetidos, assim que alguém
      escolhê-lo na confirmação da presença, ele sairá da lista (você também
      pode dar algo que não esteja na lista e que ache legal).
    </p>

    <h3 class="text-xl font-bold text-violet-400 mt-3">Lista:</h3>

    <ul class="flex flex-col text-violet-300 p-4 list-none gap-1 text-xl">
      <li>Casa</li>
      <li>Carro</li>
      <li>Casa</li>
      <li>Casa</li>
    </ul>
  </section>

  <section class="w-screen md:w-1/2 lg:w-1/2 border-b-2 p-20">
    <h2 class="text-2xl font-bold text-violet-500 text-center">Informações</h2>

    <section
      class="flex flex-col text-violet-500 md:gap-10 sm:gap-10 lg:flex-row lg:justify-around mt-12"
    >
      <article
        class="flex flex-col items-start justify-center mb-8 lg:mb-0 lg:w-1/2"
      >
        <h3 class="font-bold text-2xl">Nosso Grande Dia</h3>
        <p class="uppercase">24 de novembro de 2024 - 12h00</p>

        <p class="mt-6 font-bold uppercase">Espaço:</p>
        <p>Rua Maria Sarzedas, 79, Residencial Horizonte, Londrina - PR</p>

        <a
          href="https://maps.app.goo.gl/yaYSsh6cKpJ851a46"
          target="_blank"
          rel="noopener noreferrer"
          class="mt-8 underline"
          >Ver direções</a
        >
      </article>

      <div class="w-full lg:w-1/2">
        <google-map [options]="options" [width]="mapWidth" [height]="mapHeight">
          <map-advanced-marker
            #markElem="mapAdvancedMarker"
            #mapAdvancedMarker
            [position]="{ lat: marker.lat, lng: marker.lng }"
          >
          </map-advanced-marker>
        </google-map>
      </div>
    </section>
  </section>

  <section class="countdown w-screen md:w-1/2 lg:w-1/2 border-b-2 p-20">
    <h2 class="text-2xl font-bold text-violet-500 text-center mb-4 uppercase">
      Faltam
    </h2>
    <div class="flex justify-center items-center space-x-4">
      <div class="text-center">
        <span class="text-4xl font-bold text-violet-400">{{
          countdown.days
        }}</span>
        <p class="text-violet-500">Dias</p>
      </div>
      <div class="text-center">
        <span class="text-4xl font-bold text-violet-400">{{
          countdown.hours
        }}</span>
        <p class="text-violet-500">Horas</p>
      </div>
      <div class="text-center">
        <span class="text-4xl font-bold text-violet-400">{{
          countdown.minutes
        }}</span>
        <p class="text-violet-500">Minutos</p>
      </div>
    </div>
  </section>
</main>

<footer
  class="w-screen flex items-center justify-center p-14 text-violet-400 font-bold uppercase"
>
  Gustavo Cremonez - 2024
</footer>
